.home{
    height: 94%;
}
.carousel-inner img{
   height: 350px;
}

@media screen and (max-width: 600px){
    
    .carousel-inner img{
        height: 200px;
     }
    .first_banner{
        height: 250px;
        background-color: blueviolet;
    }
    .second_banner{
        height:200px;
        background-color: bisque;
    }
}